.Battle_Parent_grid{
    display: grid; 
    height: 100vh; 
    
    justify-items : center;
    align-items: start;
    grid-template-areas: 
    "tecst"
    "tecst_2"
    ;
}

.test_tecst{
    grid-area: tecst;
    justify-self: center;
    align-self : center;
    color: white;
    /* visibility: hidden; */
}
.test_tecst_2{
    grid-area: tecst_2;
    justify-self: center;
    align-self : center;
    color: white;
    /* visibility: hidden; */


}